# Build output
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production
.env.local

# macOS system files
.DS_Store

# IDE/Editor settings
.idea/
.vscode/

# Vercel config (both folder and file)
.vercel/

# Local config files
src/config/userConfig.ts
